body {
	padding-top: 30px;
}
.head{
	text-align: center;
	font-size: 7rem;
	margin-bottom: 6rem;
	margin-top:2px;
	margin-left: 7rem;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
}
.coninfo{
	float: right;
}
.logo{
	height: 17rem;
	width: 13rem;
	margin-left: 15.5rem;
	margin-bottom: 6rem;
	align-items: center;

}
.btn{

	background-color: #e80101;
	color: white;
	border: 2px solid #000000ad;
}
.btn:hover{

	background-color: white;
	color: black;
}
.bot{
	display: inline;
}
.right{
	float: right;
}
.pp{
	height: 19rem;
	width: 13rem;
}
.ppa{

	height: 19rem;
	width: 19rem;
}
a{
	text-decoration: none;
	margin-left:0.5rem;
	margin-bottom: 1rem;
}
.con{
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}
h4{
	margin-top: 0;
}
.nvb{
	font-size: 1.5rem;
	color: black;
	margin-right: 2rem;
	display: inline;
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
}
.bt:hover{
	border: 2px solid rgba(0, 0, 0, 0.274);
	border-radius: 5px;

}
.active{
	border: 2px solid rgba(0, 0, 0, 0.521);
	border-radius: 5px;
}

.nv{
	text-decoration: none;
	color: black;
	
}
.product {
	margin-top: 2rem;
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
.row{
	margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
	.head{
		
		font-size: 3.5rem;
		display: block;
		margin: auto;
		margin-bottom: 2rem;
	}
	.con{
		font-size: 1.5rem;
		
		
	}
	
	.logo{
		height: 11rem;
		width: 8rem;
		display: block;
		margin: auto;
		margin-bottom: 1rem;
		
		
	}
	a{
		margin-left:0;
	}
  }